h1 {
	font-size: 4.5em;
	text-align: center;
}

body {
	background-color: blanchedalmond;
	padding: 0;
	margin: 0;
	text-align: left;
}

#camo_top {
	
	color: black;
	position: relative;
	animation-name: animetop;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes animetop{
	/*0%	{top: -50vh;}
	100% {top: 0;}*/
	from {top: -15vh; color: blanchedalmond;}
	to {top: 0; color: saddlebrown;}
}

#italic{
	font-style: block;
}

.imgs {
	display: block;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-right: 32px solid blanchedalmond;
	border-left: 32px solid blanchedalmond;
	border-top: 12px solid chocolate;
	border-bottom: 12px solid chocolate;
	padding: 10px;
	background-color: saddlebrown;}
