/*Star command blue
css for main portfolio page*/

body {
  background-color: #bcaaa4;
}

nav {
}

.container-fluid {    
  color: black;
  font-family: 'Domine';
  padding: 0;
}
/*
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}
*/
#eagle {
  border: solid #bcaaa4;
  border-width: 10px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  
}
#peace {
  border: solid #bcaaa4;
  border-width: 10px;
  border-radius: 50%;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.projList {
  background-color: #efebe9;
  border-top-right-radius: 100px;
  margin-bottom: 0;
}
.projList p {
  text-align: left;
}

.mainProj {
  background-image: linear-gradient(to right, #efebe9, #bcaaa4);
}

.projButton {
  font-size: 20px;
  padding: .3em;
}

.projHeader {
  padding-top: 15px;
  padding-bottom: 5px;
}

.warning {
  color: red;
}

.list-elements {
  padding:10px;
}

.special {
  background-image: linear-gradient(#bcaaa4, #efebe9, #bcaaa4);
}

.special ul {
  margin-top:15px;
  list-style: none;
  padding-left: 10px;
}
